Problem Set 2

Question 1

In [4]:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

b()
b()
b()
a

6

After executing the first b(), the function will execute c(a) by adding 2 (a+2) to the global variable (a) and the value of a is now 2.

After executing the second b(), the function executes c(a) again and the value of a is now (2+2) 4.

After executing the third b(), the function executes c(a) again and the value of a is now (4+2) 6.

Executing a, presents a=6.

Question 2

In [3]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File " + file_name + " not found.")
        
file_length("idterm.py")

File idterm.py not found.

Question 3

In [6]:
class Marsupial:
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        print(self.pouch)
        
m = Marsupial()
m.put_in_pouch("doll")
m.put_in_pouch("firetruck")
m.put_in_pouch("kitten")
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [9]:
class Marsupial:
    def __init__(self, x_coord, y_coord):
        self.pouch = []
        self.x = x_coord
        self.y = y_coord
        
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        print(self.pouch)
        
class Kangaroo(Marsupial):
    def __str__(self):
        text = "I am a Kangaroo located at coordinates ({},{})".format(self.x,self.y)
        return text
    
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
        
k = Kangaroo(0,0)
print(k)
k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

Question 4

In [14]:
def collatz(x):
    print(x)
    while x != 1:
        if x % 2 == 1:
            x = 3 * x + 1
        else:
            x = x / 2
        print(int(x))
        
print("collatz of 1: ")
collatz(1)
print("collatz of 10: ")
collatz(10)

collatz of 1:
1
collatz of 10:
10
5
16
8
4
2
1

Question 5

In [15]:
def binary(n):
    if n < 0:
        print("Negative")
    elif n == 0:
        return 0
    else:
        bin_acum = ''
        while n >= 1:
            remainder = str((n % 2))
            bin_acum = remainder + bin_acum
            n = n // 2
        return int(bin_acum)
    
    
binary(2895)

101101001111

Question 6

In [21]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.start = False
        self.header = ""
        
    def handle_starttag(self, tag, attrs):
        if len(tag) == 2:
            if tag[:1] == "h":
                self.start = True
                self.header = tag
                
    def handle_data(self, data):
        if self.start == True:
            if data.strip():
                indt = int(self.header[1:])-1
                print(' '*indt + data)
                
                
infile = open('w3c.txt')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

Question 7

In [2]:
import requests
import re

def webdir(url, depth, indent=0):
    if depth < 0:
        return
    print(' ' * indent + url)
    try:
        response = requests.get(url)
        html = response.text
        for link in re.findall(r'href=[\'"]?([^\'" >]+)', html):
            if link.startswith('http'):
                new_url = link
            else:
                new_url = urljoin(url, link)
            webdir(new_url, depth - 1, indent + 4)
    except requests.exceptions.RequestException as e:
        print(' ' * indent + f'Request Error: {e}')
        
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html' ,  2,  0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

Question 8

In [25]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Requirement already satisfied: ipython-genutils in c:\users\adeyi\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython in c:\users\adeyi\anaconda3\lib\site-packages (from ipython-sql) (7.16.1)
Collecting sqlparse
  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)
Collecting prettytable
  Downloading prettytable-3.6.0-py3-none-any.whl (27 kB)
Requirement already satisfied: six in c:\users\adeyi\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.4-cp38-cp38-win_amd64.whl (2.0 MB)
Requirement already satisfied: traitlets>=4.2 in c:\users\adeyi\anaconda3\lib\site-packages (from ipython->ipython-sql) (4.3.3)
Requirement already satisfied: pygments in c:\users\adeyi\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.6.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\adeyi\anaconda3\lib\site-packages (from ipython->ipython-sql) (49.2.0.post20200714)
Requirement already satisfied: decorator in c:\users\adeyi\anaconda3\lib\site-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\adeyi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.3)
Requirement already satisfied: backcall in c:\users\adeyi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\adeyi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\adeyi\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.5)
Requirement already satisfied: jedi>=0.10 in c:\users\adeyi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.17.1)
Requirement already satisfied: wcwidth in c:\users\adeyi\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Collecting typing-extensions>=4.2.0
  Downloading typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Requirement already satisfied: greenlet!=0.4.17; platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32"))))) in c:\users\adeyi\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (0.4.16)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\adeyi\anaconda3\lib\site-packages (from jedi>=0.10->ipython->ipython-sql) (0.7.0)
Installing collected packages: sqlparse, prettytable, typing-extensions, sqlalchemy, ipython-sql
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 3.7.4.2
    Uninstalling typing-extensions-3.7.4.2:
      Successfully uninstalled typing-extensions-3.7.4.2
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.18
    Uninstalling SQLAlchemy-1.3.18:
      Successfully uninstalled SQLAlchemy-1.3.18
Successfully installed ipython-sql-0.5.0 prettytable-3.6.0 sqlalchemy-2.0.4 sqlparse-0.4.3 typing-extensions-4.5.0

In [26]:
%load_ext sql

In [27]:
%sql sqlite://

In [28]:
%%sql

DROP TABLE IF EXISTS Climate_data;

CREATE TABLE IF NOT EXISTS Climate_data(City text, Country text, Season text, Temperature float, Rainfall float);

 * sqlite://
Done.
Done.

[]

In [29]:
%%sql

INSERT INTO Climate_data VALUES('Mumbai', 'India', 'Winter', 24.8, 5.9),
('Mumbai', 'India', 'Spring', 28.4, 16.2),
('Mumbai', 'India', 'Summer', 27.9, 1549.4),
('Mumbai', 'India', 'Fall', 27.6, 346.0),
('London', 'United Kingdom', 'Winter', 4.2, 207.7),
('London', 'United Kingdom', 'Spring', 8.3, 169.6),
('London', 'United Kingdom', 'Summer', 15.7, 157.0),
('London', 'United Kingdom', 'Fall', 10.4, 218.5),
('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

 * sqlite://
12 rows affected.

[]

In [30]:
%%sql

SELECT Temperature from Climate_data;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [31]:
%%sql

SELECT DISTINCT City from Climate_data;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [32]:
%%sql

SELECT * from Climate_data
WHERE Country = 'India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [35]:
%%sql

SELECT * from Climate_data
WHERE Season = 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [37]:
%%sql

SELECT City, Country, Season from Climate_data
WHERE Rainfall >= 200 AND Rainfall <=400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [39]:
%%sql

SELECT City, Country from Climate_data
WHERE Season = 'Fall' AND Temperature > 20
ORDER BY Temperature;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [41]:
%%sql

SELECT SUM(Rainfall) AS Rainfall_Total from Climate_data
WHERE City = 'Cairo';

 * sqlite://
Done.

[(27.6,)]

In [42]:
%%sql

SELECT Season, SUM(Rainfall) AS Rainfall from Climate_data
GROUP BY Season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

Question 9 

(a)

In [52]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

a = []
for word in words:
    a.append(word.upper())
    
print(a)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

(b)

In [46]:
b = []
for word in words:
    b.append(word.lower())
    
print(b)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

(c)

In [47]:
c = []
for word in words:
    c.append(len(word))
    
print(c)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

(d)

In [53]:
d = []
for word in words:
    inner_list = []
    inner_list.append(word.upper())
    inner_list.append(word.lower())
    inner_list.append(len(word))
    d.append(inner_list)
    
print(d)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

(e)

In [54]:
e = []
for word in words:
    if len(word) >= 4:
        e.append(word)
        
print(e)

['quick', 'brown', 'jumps', 'over', 'lazy']